.backPane{
    -fx-background-color: #4d836e;
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-border-color: derive(cadetblue, -20%);
    -fx-border-width: 5;
    -fx-background-insets: 12;
    -fx-border-insets: 10;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}
AnchorPane{
    -fx-background-image: url("../pictures/colored/endPagePicture.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1280 720;
}